[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-ext = "*"
flask-login = "*"
passlib = {extras = ["bcrypt"],version = "*"}
flask = "*"
flask-httpauth = "*"
requests = "*"

[requires]
python_version = "3.8"
